@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Suez One", sans-serif;
  /* font-weight: 0; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
