::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f8faff;
  border-radius: 18px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #90caf9;
  border-radius: 18px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1976d2;
}
